@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Work+Sans:wght@400;600&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
}

h5 {
  font-weight: 600;
}

.postpara {
  height: 100px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 1500px
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #d7ead5;
  height: 100%;
}

.psLnk:hover {
  text-decoration: none;
  color: #241010;
}

.intro {
  font-family: 'Share Tech', sans-serif;
  font-size: 30pt;
  color: #241010;
}

.btn:hover {
  background-color: #241010;
  color: white;
}

.btn {
  background-color: white;
  color: #241010;
  border-color: #241010;
  margin-top: 10px;
}

.form-input {
  max-width: 30%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #241010;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }

  .form-input {
    max-width: 50%;
  }

  .btn {
    margin-bottom: 10px;
  }

}